<% include partials/header %>

<div class="ui main text container segment">
  <div class="ui huge header"> New Blog Post</div>
  <div class="">
    <form class="" action="/blogs" method="post">

    </form>
  </div>


</div>

<% include partials/footer %>
